<div class="signup-page">
    <div class="signup-container" @fadeInOut>
      <h2>Create Account</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          >
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility($event)"
            [attr.aria-label]="'Toggle password visibility'"
            class="icon-button"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Admin</mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.get('role')?.hasError('required')">Role is required</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="signupForm.invalid || loading"
          class="signup-button"
        >
          Register
        </button>

        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </form>
    </div>
    <app-loader *ngIf="loading"></app-loader>
  </div>